/* Custom Formatting */
article {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
  }
}

/* Inline Images */
@mixin inline-img {
  display: inline;
  margin: 0;
  padding: 0;
}

p {
  img {
    @include inline-img;
  }
}

li {
  img {
    @include inline-img;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
